* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.logo {
    border-radius: 50%;
    width: 190px;
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    top: 0;
    margin: 0;
    background-color: #c65ad4;
}

header ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

li a {
    color: rgb(198, 90, 212);
    text-decoration: none;
}

.categorias {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid rgb(220, 220, 220);
    position: sticky;
    z-index: 1000;
    top: 0;
    padding: 10px;
    gap: 30px;

}

.categorias .animais {
    text-decoration: none;
    color: rgb(198, 90, 212);
    font-size: 20px;
    transition: color 0.3s, transform 0.3s;
}


.animais:hover {
    color: #2bd8d8;
    transform: scale(1.1);
}


.search-box {
    display: flex;
    align-items: center;
    background: rgb(210, 112, 223);
    height: 40px;
    border-radius: 20px;
    padding: 5px 10px;
    transition: background 0.3s;
    overflow: hidden;
    max-width: 240px;
}

.search-txt {
    background: none;
    outline: none;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: #fff;
    transition: width 0.4s, padding 0.4s;
    width: 0;
    padding: 0;
}

.search-bnt {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(210, 112, 223);
    transition: background 0.3s;
}

.search-bnt i {
    font-size: 18px;
    color: #fff;
}

.search-box:hover {
    background: rgb(218, 131, 203);
}

.search-box:hover .search-txt {
    width: 180px;
    padding: 0 6px;
    color: #fff;
}

.search-box:hover .search-bnt {
    background: rgb(218, 131, 203);
}

.fa-magnifying-glass {
    color: #fff;
}

::placeholder {
    color: #fff;
}



@media(max-width:1140px) {
    .container-tabela {
        margin-left: 40px;
    }
}

@media(max-width: 1260px) {
    .container-tabela {
        margin-left: 60px;
    }
}

@media(max-width: 1480px) {
    .container-tabela {
        margin-left: 60px;
    }
}

@media sreen and (max-width: 1630px) {
    .container-tabela {
        margin-left: 40px;
    }
}

.container-tabela {
    display: block;
    margin-top: 80px;
}

.tabela {
    display: flex;
}

.tabela {}

div {
    unicode-bidi: isolate;
}

#prod {
    width: 500px;
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#pre {
    width: 150px;
    border-right: none;

}

#quan {
    width: 150px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#prod,
#pre,
#quan,
#total {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 1px solid rgb(210, 112, 223);
    color: #c65ad4;
}

@media(max-width: 1140px) {
    .tabela p {
        font-size: 15px;
    }
}

@media(max-width: 1260px) {
    .tabela p {
        font-size: 18px;
    }
}

@media(max-width: 1480px) {
    .tabela p {
        font-size: 18px;
    }
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul {
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

li {
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

#product {
    display: flex;
    border-bottom: 1px solid #c65ad4;
    margin-top: 15px;
    border-radius: 10px;
    width: 800px;
}

/*.__web-inspector-hide-shortcut__ {
    visibility: hidden !important;
}*/

@media (max-width: 1140px) {
    .container-pedido {
        margin-left: 30px;
    }
}

@media (max-width: 1260px) {
    .container-pedido {
        margin-left: 50px;
    }
}

@media(max-width: 1480px) {
    .container-pedido {
        margin-left: 50px;
    }
}

@media screen and (max-width: 1630px) {
    .container-pedido {
        width: 350px;
        margin-right: 40px;
        margin-left: 40px;
    }
}

.container-pedido {
    width: 80px;
    margin-left: 20px;
    margin-right: 40px;
    width: 500px;
    height: 1000px;

}

@media screen and (max-width: 1630px) {
    .pedido {
        width: 350px;
        height: 70px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .pedido p {
        font-size: 24px;
    }

    .content-subtotal {
        width: 350px;
        height: 50px;
    }

    .content-subtotal p {
        font-size: 18px;
        margin-left: 15px;
        padding-right: 10px;
    }

    .content-entrega {
        width: 350px;
        height: 50px;
    }

    .content-entrega p {
        font-size: 18px;
        margin-left: 15px;
        padding-right: 10px;
    }

    .content-pre-total {
        width: 350px;
        height: 60px;
    }

    .content-pre-total {
        font-size: 23px;
        margin-left: 15px;
        padding-right: 10px;
    }

    .content-desconto {
        gap: 5px;
    }

    .content-desconto #pric {
        margin-top: 24px;
        font-size: 16px;
    }

    .content-desconto #price-descont {
        font-size: 23px;
        margin-right: 20px;
    }

    #pix {
        font-size: 15px;
        margin-top: 5px;
        margin-right: 20px;
    }

    .content-comprar button {
        width: 170px;
        height: 40px;
        font-size: 14px;
        border-radius: 5px;
    }

    .container-formas-pag {
        width: 350px;
        margin-top: 20px;
        background-color: rgb(255, 255, 255);
    }

    .container-formas-pag h2 {
        display: flex;
        justify-content: start;
        margin-bottom: 0px;
        font-size: 15px;
    }

    .formas-pag {
        flex-direction: column;
        width: 350px;
        margin-top: 10px;


    }

    .content-pag {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 0;
        border-bottom: none;
    }

    .content-pag,
    .content-pag2 {
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0px;
        width: 100%;
        height: 55px;
        border: 1px solid #b6b6b6;
        border-radius: 5px;
        box-shadow: none;
        border-bottom: none;
        cursor: pointer;
    }

    #pag-1 {
        width: 67px;
        padding: 3px 10px 4px 10px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 0px;
    }

    #pag-2 {
        width: 63px;
        padding: 2px 6px 2px 7px;
    }

    #pag-3 {
        width: 62px;
        padding: 2px 6px 3px 7px;
    }

    #pag-4 {
        width: 3px 8px 2px 8px;
    }

    #pag-5 {
        width: 93px;
        padding: 7px 5px 7px 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 0px;
    }

    #pag-6 {
        width: 67px;
        padding: 3px 10px 4px 10px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 5px;
        margin-left: 0px;
    }

    #pag-7 {
        width: 63px;
        padding: 2px 6px 2px 7px;
    }

    #pag-8 {
        width: 62px;
        padding: 2px 6px 3px 7px;
    }

    #pag-9 {
        width: 63px;
        padding: 3px 8px 4px 8px;
    }

    #pag-10 {
        width: 93px;
        padding: 12px 5px 12px 5px;
    }

    .content-pag2 {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 0;
        border-top: none;
    }

    .container-cep {
        width: 350px;
        margin-top: 20px;
    }

    .container-cep h1 {
        font-size: 26px;
        margin-bottom: 15px;
    }

    .content-cep {
        gap: 10px;
        display: flex;
        align-items: center;
    }

    #cep {
        width: 130px;
        height: 40px;
        padding: 5px;
        border-radius: 5px;
    }

    .content-cep input {
        font-size: 14px;

    }

    .content-cep button {
        width: 70px;
        height: 39px;
        font-size: 14px;
        border-radius: 5px;
        background-color: #dadada;
        color: #000000;
        border: none;
        cursor: pointer;
        margin-bottom: 4.9%;
        font-family: 'Times New Roman', Times, serif;
    }

    #nao-sei-cep {
        font-size: 0.8em;
        margin-left: 8px;
        color: #484848;
        cursor: pointer;
    }

    .content-pedido p {
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: end;

    }
}

.pedido {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 70px;
    border: 1px solid #c65ad4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
}

.pedido p {
    font-size: 24px;
    color: #c65ad4;
}

.content-subtotal {
    width: 500px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #c65ad4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-pedido p {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 10px;
}

.content-subtotal p {
    font-size: 18px;
    margin-left: 15px;
    padding-right: 10px;
    color: #c65ad4;
}

.content-entrega {
    width: 500px;
    height: 50px;
    border: 1px solid #c65ad4;
    border-top: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #c65ad4;
}

.content-pre-total {
    width: 500px;
    height: 60px;
    border: 1px solid #c65ad4;
    border-top: none;
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #c65ad4;
    margin-left: 0%;
}

#Total {
    margin-left: 2.5%;
}

.content-desconto {
    border: 1px solid #c65ad4;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.box-des {
    display: flex;
    align-items: center;
    justify-content: end;
}

.content-desconto #pric {
    text-decoration: line-through;
    color: #5a5a5a;
    margin-top: 24px;
    font-size: 16px;
}

.content-desconto p {
    margin-top: 20px;
    font-size: 16px;
}

.content-desconto #price-descont {
    color: green;
}

#pix {
    margin: 10px 24px 10px 0px;
    color: green;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.content-comprar button {
    height: 45px;
    font-size: 16px;
    border-radius: 5px;
    background-color: rgb(236, 236, 236);
    color: #c65ad4;
    border: 1px solid #c65ad4;
}

button {
    appearance: auto;
    text-rendering: auto;
    letter-spacing: normal;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    letter-spacing: normal;
    padding-block: 1px;
    padding-inline: 6px;
    margin-top: 5%;
    margin-right: 5%;
    border-width: 2px;
    border-style: outset;

}

.content-comprar #fechar-ped {
    font-weight: 700;
    width: 196px;
    background-color: #c65ad4;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#add {
    width: 196px;
    margin-left: 5%;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    font-family: 'Times New Roman', Times, serif;
    color: #c65ad4;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    color: #c65ad4;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 3%;

}

.formas-pag {
    display: flex;
    justify-content: center;
    width: 496px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #b8b8b8;
}

.content-pag img {
    width: 43px;
    transition: 0.3s all ease;
    border: 1px solid transparent;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

#cep {
    width: 150px;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #ccc;
}

::placeholder {
    color: #5a5a5a;
    font-family: 'Times New Roman', Times, serif;
}

.form-pesquisa {
    display: flex;
    align-items: center;
    text-align: center;
}

label {
    cursor: default;
}

#cupom-input {
    width: 200px;
    height: 40px;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.footer-content {
    padding: 30px 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;

}

.footer-content li {
    list-style-type: none;
}

.container-social {
    position: relative;
}

.fa-brands,
fab {
    font-weight: 400;
}

.fa-brands,
fab {
    font-family: "Font Awesome 6 brands";
}

.texto {
    visibility: hidden;
    opacity: 0;
    color: #c65ad4;
    text-align: center;
    padding: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: -60px;
    transition: opacity 2.5s, transform 0.5s;
}

.container-social {
    position: relative;
}

.footer-info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 100%;
    height: 40px;
    background-color: rgb(40, 40, 40);
    color: #fff;
}

.footer-social a {
    text-decoration: none;
    color: #c65ad4;
}

.footer-content a {
    text-decoration: none;
    color: #c65ad4;
}

body {
    overflow-x: hidden;
}

#cupom-input:focus {
    border-color: #c65ad4;
    outline: none;
}

#cep:focus {
    border-color: #c65ad4;
    outline: none;
}

@media screen and (max-width:600px) {
    .pedido {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 360px;
        height: 50px;
        border: 1px solid #c65ad4;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: none;
    }

    .content-subtotal {
        width: 360px;
        height: 50px;
        background-color: transparent;
        border: 1px solid #c65ad4;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .content-entrega {
        width: 360px;
        height: 50px;
    }

    .content-pre-total {
        width: 360px;
    }

    .content-desconto {
        width: 360px;
    }

    .formas-pag {
        display: flex;
        justify-content: center;
        width: 360px;
        margin-top: 10px;
        border-radius: 5px;
        box-shadow: 2px 2px 5px #b8b8b8;
    }

    .content-comprar {
        width: 400px;
        align-items: center;
    }

    #fechar-ped {
        margin-left: 20.5%;
    }

    #add {
        margin-left: 20%;
    }

    #prod {
        margin-left: 0px;
    }

    .categorias {
        width: 100%;
    }

    .categorias .animais {
        text-decoration: none;
        color: rgb(198, 90, 212);
        font-size: 15px;
        transition: color 0.3s, transform 0.3s;
    }

    #prod {
        width: 250px;
        border-right: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    #pre {
        width: 170px;
        border-right: none;

    }

    #quan {
        width: 130px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .animais:hover {
        color: #2bd8d8;
        transform: scale(1.1);
    }

}

#product {
    display: flex;
    border-bottom: 1px solid #c65ad4;
    margin-top: 15px;
    border-radius: 10px;
    width: 800px;
    margin-right: 10%;
}

.product-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}

#itemImg {
    width: 150px;
    margin-left: 10px;
    margin-right: 10%;
    margin-bottom: 10%;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

#itemName {
    color: #c65ad4;
    text-align: left;
    margin-left: -165px;
}

#itemPrice {
    font-size: 17px;
    margin-top: 20px;
    margin-right: 150px;
    margin-bottom: 10px;
    margin-left: auto;
    color: #c65ad4;
}

.carrinho {
    align-items: center;
    display: flex;
    justify-content: last space-around
}

.button-group {
    width: 150px;
    margin-right: 6%;
}

#decreaseBtn {
    font-size: 17px;
    padding-top: 1px;
    width: 25px;
    height: 35px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #c65ad4;
    border-right: none;
    margin-left: 35px;
    cursor: pointer;
    color: #c65ad4;
}

#increaseBtn {
    font-size: 17px;
    padding-top: 1px;
    width: 25px;
    height: 35px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #c65ad4;
    border-right: none;
    margin-left: 35px;
    cursor: pointer;
    color: #c65ad4;
}

.lista-nova {
    list-style: none;
    color: #c65ad4;
    display: flex;

}

.img-nova {
    width: 100%;
    height: auto;
    max-width: 150px;
    margin-bottom: 5%;
    object-fit: cover;
}

.div-nova {
    border-bottom: #c65ad4;
}

.nome-novo {
    margin-left: -35%;
    margin-right: 5%;

}

.preco-novo {
    margin-right: 10%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 100px;
}

.botao-novo {
    margin-right: -50%;
}

.input-novo {
    background-color: #fff;
    border: none;
    padding: 3.5px;
    box-shadow: 3px 3px -2px 1px #c65ad4;
    border-radius: 8%;
    text-align: end;
    width: 40px;
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
    color: #484848;

}

.input-novo:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.increase-novo {
    border-top-right-radius: 18%;
    border-bottom-right-radius: 18%;
    border-left: none;
    width: 22px;
    color: #fff;
    font-weight: 100;
    background-color: #fff;
    border: none;
    box-shadow: 0 0 5px #c65ad4;
    padding: 4px;
    background-color: #da6de9;

}

.decrease-novo {
    margin-right: 0%;
    width: 22px;
    border-right: none;
    border-top-left-radius: 18%;
    border-bottom-left-radius: 18%;
    color: #fff;
    background-color: #da6de9;
    border: none;
    box-shadow: 0 0 5px #c65ad4;
    padding: 4px;
}

.remove-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    margin-top: 50%;
    margin-left: 8%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-auto-rows: 100px; 
    cursor: pointer;
}